* {
  box-sizing: border-box;
}

.day-tag {
  cursor: pointer;
}

.contenedor {
  padding-top: 1rem;
}

.add-button {
  position: fixed;
  right: 16px;
  bottom: 16px;
}

/*
======= Main Content =======
*/

.contenedor {
  margin: 0 2rem;
  font-family: 'Roboto', sans-serif;
  display: flex;
}

.time-column,
.activity-column {
  display: flex;
  flex-direction: column;
}

.time-column {
  font-size: 16px;
}

.activity-column {
  flex-grow: 1;
}

.activity-collision-column {
  display: flex;
}

.activity {
  display: block;
  text-align: center;
  border-radius: .25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background: #c5cae9;
}

.time {
  width: 2.5em;
  position: relative;
  line-height: 0;
}

.time-stamp {
  position: absolute;
  font-size: .8em;
  bottom: -.6em;
  line-height: normal;
}

.empty {
  background: url(../img/nada.png);
  border-radius: 0;
  border: white 1px solid;
}

/*
======= Dialog =======
*/

.schedule-tag-container {
    position: relative;
}

.delete-button {
    position: absolute;
    right: 16px;
    top: -8px;
}

.days-error {
    font-size: 12px;
    line-height: 14px;
    color: rgb(221,44,0);
}

/*
======= Media Queries =======
*/

@media (min-width:768px) {
  .add-button {
    right: 24px;
    bottom: 24px;
  }
}