* {
  box-sizing: border-box;
}

.add-icon {
  position: absolute;
  bottom: 12%;
  right: 5%;
}

.app-navigation .material-icons {
    margin-right: 32px;
}

.main-app {
  margin-top: 2em;
}

/*
======= Main Content =======
*/

.contenedor {
  margin: 0 2rem;
  font-family: 'Roboto', sans-serif;
  display: flex;
}

.time-column,
.activity-column {
  display: flex;
  flex-direction: column;
}

.time-column {
  font-size: 16px;
}

.activity-column {
  flex-grow: 1;
}

.activity-collision-column {
  display: flex;
}

.activity {
  display: block;
  text-align: center;
  border-radius: .25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background: #c5cae9;
}

.time {
  width: 2.5em;
  position: relative;
  line-height: 0;
}

.time-stamp {
  position: absolute;
  font-size: .8em;
  bottom: -.6em;
  line-height: normal;
}

.empty {
  background: url(../img/nada.png);
  border-radius: 0;
  border: white 1px solid;
}